body {
  background-image: url(/img/instructions-img/pexels-francesco-ungaro-998641.jpg);
  background-color: black;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  color: white;
}

p {
  color: white;
  margin: 3rem 0;
}

h2 {
  margin: 3rem 0;
}

.link {
  color: red;
}

strong {
  color: yellow;
}

/* Header */

h1 {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.header__container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.header__title {
  text-decoration: none;
  color: white;
}

.link-game {
  color: green;
  font-size: 1rem;
}

/* main */

.main-content {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);
  background: linear-gradient(to right, #2c3e50, #8d8d8d);
  margin: 5rem 10rem;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

@media (max-width: 750px) {
  .main-content {
    margin: 5rem 0;
  }
}

.list__item {
  &::marker {
    content: "👽";
    color: red;
  }
}

.download {
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: black;
  border-style: none;
  border-radius: 0.5rem;
}

.main-image {
  margin: 0 auto;
}
